body {
    min-width:640px;
}
#blocTitre, #blocProbleme, .blocResultats {
    display:inline-block;
}

#blocTitre{
    background-color: red;
    height: 100px;
    border: black solid 1px;
    text-align: center;
    width:100%;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin-bottom: 10px;
    -moz-box-shadow: 10px 10px 5px #656565;
    -webkit-box-shadow: 10px 10px 5px #656565;
    -o-box-shadow: 10px 10px 5px #656565;
    box-shadow: 10px 10px 5px #656565;
}

#conteneur{
    width: 100%;
    float: left;
}

#blocProbleme{
    float: left;
    width: 350px;
    position: absolute;
    margin-top: 110px;
    background-color: yellow;
    border: black solid 1px;
    min-height: 450px;
    overflow: auto;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow: 10px 10px 5px #656565;
    -webkit-box-shadow: 10px 10px 5px #656565;
    -o-box-shadow: 10px 10px 5px #656565;
    box-shadow: 10px 10px 5px #656565;
}

.blocResultats{
    float: right;
    background-color: green;
    width:1210px;
    min-height: 560px;
    border: black solid 1px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -moz-box-shadow: 10px 10px 5px #656565;
    -webkit-box-shadow: 10px 10px 5px #656565;
    -o-box-shadow: 10px 10px 5px #656565;
    box-shadow: 10px 10px 5px #656565;
}


legend{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    font-family: "Arial Black", Arial, Verdana, serif;
}

fieldset{
    color:orange;
    border: 2px solid orange;
    font-size: 20px;
    text-align: center;
}

#fctObecjtive{
    font-size: 16px;
    text-align: center;
}

#contraintes{
    text-align: center;
}

#spanRes{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    font-family: "Arial Black", Arial, Verdana, serif;
}

#contraintesSpan{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    font-family: "Arial Black", Arial, Verdana, serif;
}

#div_titre{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#utilisateur{
    margin-bottom: 10px;
    background-color: #869492;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-radius:10px 10px 0px 0px;
    padding-left: 10px;
    text-align: center;
    font-size: 20px;
}

#profil{
    margin-bottom: 10px;
    padding-left: 10px;
}

#conteneurProfil{
    float: left;
    min-height: 100px;
    width: 350px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color: orange;
    -moz-box-shadow: 10px 10px 5px #656565;
    -webkit-box-shadow: 10px 10px 5px #656565;
    -o-box-shadow: 10px 10px 5px #656565;
    box-shadow: 10px 10px 5px #656565;
}

#titreProbleme{
    margin-bottom: 10px;
    background-color: #869492;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-radius:10px 10px 0px 0px;
    padding-left: 10px;
    text-align: center;
    font-size: 20px;
}

#listeProblemes{
    padding-left: 30px;
}

#titreBlocResultats{
    margin-bottom: 10px;
    background-color: #869492;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-radius:10px 10px 0px 0px;
    padding-left: 10px;
    text-align: center;
    font-size: 20px;
}

#resultats{
    text-align: center;
}
