body {
    min-width:640px;
}
#blocTitre, #blocProbleme, .blocResultats {
    display:inline-block;
}

#blocTitre{
    background-color: red;
    height: 100px;
    border: black solid 1px;
    text-align: center;
    width:100%;
}

#conteneur{
    width: 100%;
    float: left;
}

#blocProbleme{
    float: left;
    width: 350px;
    background-color: yellow;
    border: black solid 1px;
    min-height: 500px;
    overflow: auto;
    padding-left: 30px;
}

.blocResultats{
    float: right;
    padding-left: 300px;
    background-color: green;
    width:1100px;
    min-height: 500px;
    border: black solid 1px;
    padding-left: 30px;
    padding-right: 30px;
}


legend{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    font-family: "Arial Black", Arial, Verdana, serif;
}

fieldset{
    color:orange;
    border: 2px solid orange;
    font-size: 20px;
    text-align: center;
}

#fctObecjtive{
    font-size: 16px;
    text-align: center;
}

#contraintes{
    text-align: center;
}

#spanRes{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    font-family: "Arial Black", Arial, Verdana, serif;
}

#contraintesSpan{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    font-family: "Arial Black", Arial, Verdana, serif;
}

#titre{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}