#blocTitre{
    background-color: red;
    height: 100px;
    position: relative;
    border: black solid 1px;
    text-align: center;
}

#blocProbleme{
    position: absolute;
    width: 30%;
    background-color: yellow;
    border: black solid 1px;
    height: 500px;
    padding-left: 30px;
}

.blocResultats{
    position: relative;
    background-color: green;
    /*left: 30%;*/
    float:right;
    /*width: 65%;*/
    border: black solid 1px;
    height: 500px;
    padding-left: 30px;
}

#description{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    font-family: "Arial Black", Arial, Verdana, serif;

}

fieldset{
    color:orange;
    border: 2px solid orange;
    font-size: 16px;
}
